:root {
    --light-bg-color: #eeeeee;
    --light-primary-color: #103749;
    --dark-bg-color: #04102c;
    --dark-primary-color: #b9c47d;
}
html, body {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
body {
    height: 100%;
    padding: 30px;
    background-color: var(--light-bg-color);
    color: var(--light-primary-color);
}
@media(prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-color);
        color: var(--dark-primary-color);
    }
}
li {
    margin: 1rem;
}