:root {
  --light-bg-color: #eeeeee;
  --light-primary-color: #103749;
  --dark-bg-color: #04102c;
  --dark-primary-color: #b9c47d;
}
html {
  height: 100vh;
}
/* 样式重制 */
html,
body,
h1 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
body {
  overflow: hidden;
  height: 100%;
  padding: 30px;
  background-color: var(--light-bg-color);
  color: var(--light-primary-color);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: var(--dark-primary-color);
  }
}
ul li {
  margin: 1rem;
}

ul {
  padding: 0;
}
