body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    transition: all ease 0.8s;
}
:root {
    --color: hsl(184, 47%, 37%);
}

body {
    background-color: var(--color);
    display: flex;
}

.buttons {
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 3rem;
    margin: auto;
}
button {
    margin: 0.5rem 1rem;
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    border: none;
    opacity: 0.4;
    transition:  all ease-out 0.15s;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

}
button:focus {
    outline: none;
}